*{
    box-sizing: border-box;
}
.b{
    font-family: inter;
    font-weight: 700;
}
.u{
    font-family: inter;
    font-weight: 700;
    color: #896BFF;
}
body{
    background-image:url(../img/fondoc.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px 20px;
}
.contenedor{
    background: linear-gradient(#3A3647, #383342);
    width: 100%;
    max-width: 740px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 0 73px;
}
.foto-nombre-descripcion{
    width: 100%;
    padding: 47px 0;
}
.aro{
    display: flex;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border:solid #896BFF 2px;
    outline: 5px solid #3A3647;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.foto-perfil{
    width: 155px;
    height: 155px;
    border-radius: 50%;
    overflow: hidden;
}
.img{
    display: block;
    width: 100%;
    margin: 0 auto;
}
.nombre{
    padding: 26px 0;
}
h1{
    font-family: Lexend;
    font-size: 32px;
    color: white;
    text-align: center;
    font-weight: 600;
}
.p{
    font-family: Inter;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: white;
    text-align: center;
}
.enlaces{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 18px 20px;
    padding: 26px 0;
}
.e-bot{
    display: block;
    text-decoration: none;
    padding: 16px 0;
    border-radius: 15px;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}
.b-mp{
    color:#896BFF;
    border: solid 2px #896BFF;
    transition: 0.7s;
}
.b-mp:hover{
    box-shadow: 0px 0px 10px;
}
.b-i{
    color:#776BFF;
    border: solid 2px #776BFF;
    transition: 0.7s;
}
.b-i:hover{
    box-shadow: 0px 0px 10px;
}
.b-f{
    color:#6B83FF;
    border: solid 2px #6B83FF;
    transition: 0.7s;
}
.b-f:hover{
    box-shadow: 0px 0px 10px;
}
.b-t{
    color:#6B9DFF;
    border: solid 2px #6B9DFF;
    transition: 0.7s;
}
.b-t:hover{
    box-shadow: 0px 0px 10px;
}
.b-yt{
    color:#93B7FF;
    border: solid 2px #93B7FF;
    transition: 0.7s;
}
.b-yt:hover{
    box-shadow: 0px 0px 10px;
}
.b-xt{
    color:#6BC1FF;
    border: solid 2px #6BC1FF;
    transition: 0.7s;
}
.b-xt:hover{
    box-shadow: 0px 0px 10px;
}
.iconos{
    width: 100%;
    max-width: 234px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 20px 0;
}
.i-bot{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    text-decoration: none;
    border-radius: 50%;
    font-size: 24px;
}
.b-l{
    color:#896BFF;
    border: solid 2px #896BFF;
    transition: 0.7s;
}
.b-l:hover{
    box-shadow: 0px 0px 10px;
}
.b-w{
    color:#6B83FF;
    border: solid 2px #6B83FF;
    transition: 0.7s;
}
.b-w:hover{
    box-shadow: 0px 0px 10px;
}
.b-m{
    color:#6BC1FF;
    border: solid 2px #6BC1FF;
    transition: 0.7s;
}
.b-m:hover{
    box-shadow: 0px 0px 10px;
}
.fa-linkedin, .fa-whatsapp, .fa-envelope{
    display: block;
}
.logo{
    margin: 0 auto;
    width: 55px;
    height: 55px;
}
.img-logo{
    width: 100%;
    height: 100%;
}
.footer{
    width: 100%;
    padding: 4px 0 47px 0;
}
.p-f{
    font-family: Inter;
    font-size: 12px;
    text-align: center;
    color: white;
    font-weight: 300;
    line-height: 18px;
}
@media only screen and (max-width: 834px) {
    .contenedor{
        padding: 0 160px;
    }
    .enlaces{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 18px 0;
    }
}
@media only screen and (max-width: 574px) {
    .contenedor{
        padding: 0 25px;
    }
}
