*{
 box-sizing: border-box;   
}
body{
    background: linear-gradient( rgba(43,207,188,1), rgba(74,121,201,0.55), rgba(166,64,202,0.35));
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.imagen{
    width: 131px;
    height: 131px;
    background: aqua;
    border-radius: 50%;
    margin: 66px auto;
    margin-bottom: 14px;
}
h1{
    text-align: center;
    margin: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 9px;
}
p{
    text-align: center;
    margin: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 32px;
}
.rectangulo{
    width: 70%;
    margin: 0 auto;
    padding: 6px;
    border: solid 2px white;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 32px;
    cursor: pointer;
    transition: 1.5s;
    
}
.rectangulo:hover{
    background: white;
    width: 65%;
    margin: 0 auto;
    padding: 6px;
    color: rgba(74,121,201,1);
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 32px;
    cursor: pointer;
}
.pabs{
    border-radius: 50%;
}
.logo{
    width: 46.8px;
    height: 67px;
    bottom: 0;
    margin: 0 auto;
    margin-bottom: 40px;
    
}
.logoi{
    width: 100%;
    height: 100%;
    
}
a{
    text-decoration: none;
}
